.env
.git
node_modules
vendor
public/build
public/hot
bootstrap/cache/packages.php
bootstrap/cache/services.php
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
